<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="styl3.css">  <!--- enlace a css -->
    <title>HernanPuto</title>
</head>
<body>
    <main>
        <section class="hero">
            <div class="seccion seccioncolor">
            <div>
                <h2> $200/mx</h2>
                <h1>Un certificado puede</h1>
                <h1>Cambiar la vida</h1>
                <h1>De alguien</h1>
                <p>Puedes hacer tu donacion y recibir tu certificado a nombre de alguien mas, no</p>
                <p>hay mejor regalo que el saber que fuiste la oportunidad que necesitaba alguien.</p>
                <button id="Donar" onclick="funcion()">Donar ahora</button>
            </div>
            <div>
                    <img src="discapacitados.png" alt="Imagen discapacitados">
                </div>
            </div>         
        </section>
        <section class="colaboradores">
            <h3>Colaboradores con diferentes hospitales en la república</h3>
          
            <div class="logos">
              <img src="HospitalAngeles.jpeg" alt="Hospital 1">
              <img src="MedicaSur.jpeg" alt="Hospital 2">
              <img src="Tecsalud.jpeg" alt="Hospital 3">
              <img src="ReinaMadre.jpeg" alt="Hospital 4">
            </div>
          </section>

          <section class="tec">
            <div class="teccolor">
                <h2> ¿Quienes somos?</h2>
                <p>Somos tec de monterrey y asociados (TecSalud, Tecmilenio) estamos juntos para crear una asociacion para poder apoyar mediante certificados que ustedes pueden donar, va diriido para personas que lo ncesitan y no tienen llas mismas posiblidades economicas de pagar alguna irugia, tratamiento,</p>
            <div class="teclogos">
                    <img src="HospitalAngeles.jpeg" alt="Tec Salud">
                    <img src="HospitalAngeles.jpeg" alt="Tec">
                    <img src="HospitalAngeles.jpeg" alt="Tecmilenio">
                        
                </div>      
            </div>
            
    </main>







</body>