<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>
        Tecsalud
    </title>
</head>

<body>

    <div class="header-container">
        <img src="tecsalud_logo.png" alt="Logo de tecsalud" class="logo">

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#news">Mas sobre nosotros</a>
            <a href="#contact">Servicios</a>
            <a href="#about">Equiṕo</a>
            <a href="#lol">contactanos</a>
        </nav>
    </div>
    <br>
    <section class="main-content">
        <div class="main-text">
            <p class="smol-text">Sanando corazones, sanando vidas</p>
            <p class="highlight">Tecsalud por mas oportunidades <br> para todas <br>las y los Mexicanos</p>
            <p class="other-text"> La fundacion Tecsalud esta comprometida a <br> brindar mas acceso a servicios de salud <br> a las personas en situacion<br>vulnerable de nuestro pais</p>
        </div>
        <div class="box1">
            <img src="disabled1.jpeg" alt="Personas en sillas de ruedas">
            <br>
            <p class="card-price"> 1200Mxn </p>
            <p class="normal-text1">Certificado de donante Plus+</p>
            <p class="normal-text1" > Aqui ira una descripcion <br>detallada xd</p>
            <button class="donar-ahora">Donar Ahora</button>
        </div>
        <div class="box2">
            <img src="disabled1.jpeg" alt="Personas en sillas de ruedas">
            <br>
            <p class="card-price"> 1200Mxn </p>
            <p class="normal-text1">Certificado de donante Plus+</p>
            <p class="normal-text1" > Aqui ira una descripcion <br>detallada xd</p>
            <button class="donar-ahora">Donar Ahora</button>
        </div>

        <section class="hero">
            <div class="seccion seccioncolor">
            <div>
                <h2> $200/mx</h2>
                <h1>Un certificado puede</h1>
                <h1>Cambiar la vida</h1>
                <h1>De alguien</h1>
                <p>Puedes hacer tu donacion y recibir tu certificado a nombre de alguien mas, no</p>
                <p>hay mejor regalo que el saber que fuiste la oportunidad que necesitaba alguien.</p>
                <button id="Donar" onclick="funcion()">Donar ahora</button>
            </div>
            <div>
                    <img src="discapacitados.png" alt="Imagen discapacitados">
                </div>
            </div>         
        </section>
        <section class="colaboradores">
            <h3>Colaboradores con diferentes hospitales en la república</h3>
          
            <div class="logos">
              <img src="HospitalAngeles.jpeg" alt="Hospital 1">
              <img src="MedicaSur.jpeg" alt="Hospital 2">
              <img src="Tecsalud.jpeg" alt="Hospital 3">
              <img src="ReinaMadre.jpeg" alt="Hospital 4">
            </div>
          </section>

          <section class="tec">
            <div class="teccolor">
                <h2> ¿Quienes somos?</h2>
                <p>Somos tec de monterrey y asociados (TecSalud, Tecmilenio) estamos juntos para crear una asociacion para poder apoyar mediante certificados que ustedes pueden donar, va diriido para personas que lo ncesitan y no tienen llas mismas posiblidades economicas de pagar alguna irugia, tratamiento,</p>
            <div class="teclogos">
                    <img src="HospitalAngeles.jpeg" alt="Tec Salud">
                    <img src="HospitalAngeles.jpeg" alt="Tec">
                    <img src="HospitalAngeles.jpeg" alt="Tecmilenio">
                        
                </div>      
            </div>
            
</body>


</html>