<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>
        Tecsalud
    </title>
</head>

<body>

    <div class="header-container">
        <img src="tecsalud_logo.png" alt="Logo de tecsalud" class="logo">

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#news">Mas sobre nosotros</a>
            <a href="#contact">Servicios</a>
            <a href="#about">Equiṕo</a>
            <a href="#lol">contactanos</a>
        </nav>
    </div>
    <br>
    <section class="main-content">
        <div class="main-text">
            <p class="smol-text">Sanando corazones, sanando vidas</p>
            <p class="highlight">Tecsalud por mas oportunidades <br> para todas <br>las y los Mexicanos</p>
            <p class="other-text"> La fundacion Tecsalud esta comprometida a <br> brindar mas acceso a servicios de salud <br> a las personas en situacion<br>vulnerable de nuestro pais</p>
        </div>
        <div class="box1">
            <img src="disabled1.jpeg" alt="Personas en sillas de ruedas">
            <br>
            <p class="card-price"> 1200Mxn </p>
            <p class="normal-text1">Certificado de donante Plus+</p>
            <p class="normal-text1" > Aqui ira una descripcion <br>detallada xd</p>
            <button class="donar-ahora">Donar Ahora</button>
        </div>
        <div class="box2">
            <img src="disabled1.jpeg" alt="Personas en sillas de ruedas">
            <br>
            <p class="card-price"> 1200Mxn </p>
            <p class="normal-text1">Certificado de donante Plus+</p>
            <p class="normal-text1" > Aqui ira una descripcion <br>detallada xd</p>
            <button class="donar-ahora">Donar Ahora</button>
        </div>
</body>


</html>