* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #e5e5e5;
}

/* HEADER */
.header ,
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: 
  #ddd;
}
nav {
  margin-left: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: #333;
}

/* LAYOUT */
.layout {
  display: flex;
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

/* IZQUIERDA */
.preview img {
  width: 300px;
  border-radius: 10px;
}

.maximo {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* FORMULARIO */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
}

.formulario input,
.formulario select {
  padding: 8px;
}

/* RESUMEN */
.resumen {
  border: 1px solid #999;
  padding: 20px;
  width: 250px;
  background: #f3f3f3;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}

/* BOTÓN */
.button {
  margin-top: 24px;
  padding: 14px 20px;
  border: none;
  border-radius: 899px;
  background-color: rgb(0, 113, 93);
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* quita el subrayado */
  display: inline-block; /* necesario para padding correcto */
}